@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vzugst');
  src:  url('fonts/icomoon.eot?vzugst#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vzugst') format('truetype'),
    url('fonts/icomoon.woff?vzugst') format('woff'),
    url('fonts/icomoon.svg?vzugst#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fire:before {
  content: "\e9a9";
}
.icon-credit-card:before {
  content: "\f045";
}
.icon-eye:before {
  content: "\f04e";
}
.icon-binary:before {
  content: "\f094";
}
.icon-agent:before {
  content: "\f08c";
}
.icon-link:before {
  content: "\f05c";
}
.icon-puzzle:before {
  content: "\f0c0";
}
.icon-steps:before {
  content: "\f0c7";
}
.icon-bug:before {
  content: "\f091";
}
.icon-logo-icomoon:before {
  content: "\e900";
}
.icon-network:before {
  content: "\e901";
}
.icon-fingerprint:before {
  content: "\e902";
}
.icon-guard:before {
  content: "\e903";
}
.icon-mask:before {
  content: "\e904";
}
.icon-key:before {
  content: "\e905";
}
.icon-shield:before {
  content: "\e906";
}
.icon-padlock:before {
  content: "\e907";
}
.icon-safe:before {
  content: "\e908";
}
.icon-pin:before {
  content: "\e909";
}
.icon-pattern:before {
  content: "\e90a";
}
.icon-firewall:before {
  content: "\e90b";
}
.icon-lockscreen:before {
  content: "\e90c";
}

